body{
    background-color: #7D7C7C;
}
.example-card {
  max-width: 400px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #FFFFFF;
  margin-top: 5rem;
}
  
.login{
    background-color: #00a4e4;
    color: #fff;
    width: 21.3rem;
    border-color: #00a4e4;
    border-radius: 0.25rem;
} 

mat-card-title{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -.0083333333em;
    margin-bottom: 0.75rem;
    text-align: center;
    margin-top: 1rem;
}

input.form-control{
    background-color: #D8D9DA;
    height: 46px;
}

.logo{
    height: 8rem;
    width: 19rem;
    color: black;
    border-radius: 1rem;
    background-color: #1BB1DA;
    margin-left: 2rem;
    margin-top: 1rem;
}

body {
    background-image: url('/assets/images/Imagem2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    margin-left: 59rem;
    margin-bottom: 10rem;
    border-radius: 1rem;
}