body{
    background-color: #7D7C7C;
}
.example-card {
  max-width: 43.7rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #FFFFFF;
  margin-top: 5rem;
}

.login{
    background-color: #00a4e4;
    color: #fff;
    width: 7.3rem;
    border-color: #00a4e4;
    border-radius: 0.25rem;
}

.cancelar{
    width: 7.3rem;
    border-radius: 0.25rem;
    margin-right: 1rem;
    margin-left: 25rem;
}

mat-card-title{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -.0083333333em;
    margin-bottom: 0.75rem;
    text-align: center;
    margin-top: 1rem;
}

input.form-control, select.form-control{
    background-color: #D8D9DA;
    height: 46px;
}

.inputStatus {
  width: 80vw;
  outline: none;
  border: none;
}

select {
  width: 100vw;
  outline: none;
  border: none;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 2px;
  border: 1px solid black;
}

.main-content {
  background-image: url('/assets/images/Imagem3.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-cadastro{
  margin-bottom: 25rem;
}
