<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Login</mat-card-title>
                </mat-card-header>
                <mat-card-content>      
                    <div class="d-flex align-items-center justify-content-center mt-4 mb-5">
                        <!-- <ng-md-icon icon="github-circle" size="20"></ng-md-icon> -->
                        <i class="fas fa-user"></i>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" icon="github-circle"></mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    </div>  
                    <hr/>    
                    <form class="example-form" [formGroup]="formulario">
                        <div class="input-group input-group-sm mb-3 mt-4 input-color">
                            <input type="email" class="form-control" placeholder="Email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" formControlName="email">
                        </div>
                        <div class="input-group input-group-sm mb-3 input-color">
                            <input type="password" class="form-control" placeholder="Password" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" formControlName="password"> 
                        </div>
                        <button class="login p-2" (click)="enviar()">LOGIN</button>
                        <button (click)="criarConta()" class="criarConta">Looking to create an account ? </button>
                    </form>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
</body>
  